<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result of content ) { %>
        <tr>
            <td><%= result.id %></td>
            <td><%= result.year %></td>
            <td><%= result.player_id %></td>
            <td><%= result.team_id %></td>
            <td><%= result.OV %></td>
            <td><%= result.TV %></td>
            <td><%= result.WR %></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
